# Bytecode Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/

# Model Files
models/
*.bin
*.pt

# FAISS Index Files
indices/
*.faiss

# Data Files
*.csv
*.tsv
*.xlsx

# Log Files
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE Specific
.vscode/
.idea/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
